.title {
    font-size: 25px;
    color: black;
}

.main {
    height: auto;
    margin: 25px;
    display: flex;
    flex-direction: column;

}

.containerDiv {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img {
    width: 600px;
    height: auto;
}

.price {
    margin-bottom: 25px;
    color: rgb(222, 27, 27);
    font-size: 20px;
}